:root {
    --bg: rgb(228, 202, 145);
    --text: rgb(63, 63, 63);
    --puzzle-bg: gray;
    --puzzle-border: rgb(160, 121, 47);
    --buttons: rgb(160, 121, 47);
    --tiles: #e9da22;
    --game-win: green;
}

* {
    font-family: 'Rowdies', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
}

header {
    width: 100%;
    text-align: center;
}

.puzzle {
    width: 600px;
    height: 600px;
    background-color: var(--puzzle-bg);
    position: relative;
    border-radius: 5px;
    border: 5px solid var(--puzzle-border);
}

.square {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: var(--tiles);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 350ms;
    cursor: pointer;
    border: 2px solid var(--puzzle-bg);
    font-size: 2em;
    border-radius: 5px;
    box-sizing: border-box;
}

.square.empty {
    opacity: 0;
}

.options {
    display: flex;
    position: absolute;
    top: 40px;
    right: 40px;
}

button {
    padding: 15px 25px;
    border-radius: 9px;
    border: none;
    background-color: var(--buttons);
    color: white;
    font-size: 1.2em;
    margin: 0 10px;
    box-shadow: inset 0px 0px 4px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 500ms;
}

button:hover {
    box-shadow: none;
}

/* Overlay */
.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
}

.game-over-message {
    font-size: 3em;
    color: var(--game-win);
}

.hide {
    opacity: 0;
}

@media only screen and (max-width: 1300px) {
    .options {
      flex-direction: column;
    }

    .options button {
        margin-bottom: 1rem;
    }
}